.headers{
text-align: center;
background-color: darkcyan;
font-size: 30px;
color: white;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
}

.card{
    text-align: center;
    border-color: black;
    background-color:bisque;
    display: flex;
    border-radius: 5px;
    margin-left: 400px;
    width: 200px;
    height: 150px;
    padding-top: 30px;
    margin-bottom: 50px;
    }

.btn{
    display: flex;
    height:50px;
    width: 120px;
}

.tags{
display: flex;
gap: 10px;
justify-content: start;
}